// LAYOUT
.work-area {
  position: relative;

  background-color: $color-white;
  min-height: 100vh;

  &__tools {
    margin-left: 2.9rem;
    margin-top: 7.9rem;
  }

  &__colors {
    margin-left: 2.9rem;
    margin-top: 9.2rem;
  }

  &__images {
    position: absolute;

    top: 14%;
    right: 2.9rem;
  }
}

// BAR
.app-bar {
  display: flex;
  align-items: center;

  height: 4.8rem;
  width: 100%;
  padding: 0 .8rem;

  background-color: $color-white;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.24), 0px 0px 4px rgba(0, 0, 0, 0.12);

  &__nav-button {
    margin-right: 2.4rem;
  }

  &__login {
    margin-left: auto;
  }

  &__menu-button {
    margin-left: auto;
  }
}

.nav-icon {
  width: 4rem;
  height: 4rem;

  background: url(../img/nav-icon.svg) center no-repeat;
}

.menu-icon {
  width: 4rem;
  height: 4rem;

  background: url(../img/menu-icon.svg) center no-repeat;
}

// CANVAS
.canvas-area {
  position: absolute;
  right: calc(50% - 256px);
  top: 14%;

  width: 512px;

  display: grid;
  grid-template-columns: 85px auto 85px;
  grid-template-rows: 33px 512px 70px;
  gap: 10px;
}

.canvas {
  width: 512px;
  height: 512px;

  background-color: $color-bg;
  grid-column: 1 / span 3;

  image-rendering: pixelated;
}

// TOOLS
.tool-panel {
  width: 22.8rem;
  padding-bottom: 3rem;

  background-color: $color-white;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.24), 0px 0px 4px rgba(0, 0, 0, 0.12);
}

.tool-list {

  &:not(:last-child) {
    border-bottom: .1rem solid rgba(0, 0, 0, 0.12);
  }
}

.tool-item {
  height: 5.7rem;
  padding: 0 .6rem;

  display: flex;
  align-items: center;

  cursor: pointer;

  &:hover {
    background-color: rgb(209, 233, 255);
  }

  &--selected {
    background-color: rgb(209, 233, 255);
    cursor: unset;
  }

  &__icon {
    width: 2.4rem;
    height: 2.4rem;

    margin-left: 1.2rem;
    margin-right: 3.3rem;
  }

  &__color-circle {
    border-radius: 50%;
    border: .1rem solid black;
    cursor: pointer;
  }
}

.color-input {
  width: 2.4rem;
  height: 2.4rem;
  transform: translate(-.1rem, -.1rem);
  visibility: hidden;
}

.btn-square {
  background: #00BCD4;
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.24), 0px 0px 2px rgba(0, 0, 0, 0.12);
  border-radius: 2px;
  outline: none;

  color: white;
}

#btn-auth {
  padding: .8rem;
}

.search-field-wrapper {
  display: flex;
  position: relative;
  width: 200px;

  &::before {
    position: absolute;
    transform: translate(50%, 100%);

    display: block;
    content: "";

    width: 12px;
    height: 12px;

    background: url('../img/search.svg');
  }
}

.search-field {
  border: 0;
  width: 100%;
  height: 100%;
  padding-left: 24px;

  background: #FAFAFA;
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.24), 0px 0px 2px rgba(0, 0, 0, 0.12);
  border-radius: 2px;
}

$slider-width: 514px;
$slider-height: 3px;

.range-slider-wrapper {
  position: relative;

  grid-column: 1 / span 3;
  align-self: end;


  width: $slider-width;
  height: $slider-height;

  &__steps {
    position: absolute;
    top: 0;
    z-index: 1;

    width: $slider-width;
    padding: 0 23px;

    display: flex;
    justify-content: space-between;
  }

  &__step {
    width: $slider-height;
    height: $slider-height;
    border-radius: 50%;
    background: rgba(0, 0, 0, 0.541);
  }

  &__step-value {
    position: absolute;
    width: 50px;
    transform: translate(0, -50px);

    color: white;
    text-align: center;
    z-index: 2;

    pointer-events: none;
  }
}

.range-slider {
  position: absolute;
  top: 0;

  width: 100%;
  height: 100%;
  border-radius: $slider-height;

  -webkit-appearance: none;
  outline: none;
  background: #00BCD4;

  @mixin sliderPointer {
    transform: translate(0, -45px) rotate(-45deg);
    width: 50px;
    height: 50px;
    border-radius: 50% 50% 50% 0;

    appearance: none;
    outline: none;
    border: none;
    background: #00BCD4;

    -webkit-appearance: none;
  }

  &::-webkit-slider-thumb {
    @include sliderPointer();
  }

  &::-moz-range-thumb {
    @include sliderPointer();
  }

  &:hover {
    cursor: pointer;
  }
}